.App {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 5%;
  align-items: top;
  background-color: #959792;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #282c34;
  min-height: 5vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  line-height: 200%;
  border-bottom: ridge;
}

main {
  padding: 10px;
  grid-row: 2;
  text-align: center;
  min-height: 95vh;

  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 0%;
  vertical-align: middle;
}

main div {
  text-align: center;
  align-self: center;
}

aside {
  padding: 10px;
  grid-row: 2;
  text-align: center;

  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 0%;
}

aside div {
  align-self: center;
}

svg.gauge .dial {
  stroke-width: 16;
  stroke: #8b8b8b;
}

svg.gauge .value {
  stroke: #862d40;
  stroke-dasharray: none;
  stroke-width: 16;
}

svg.gauge text.value-text {
  fill: #363636;
}

.km-value-text {
  color: rgb(36, 36, 36);
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  text-anchor: middle;
  position: relative;
  top: -100px;
}

.plug-connection-state {
  color: rgb(36, 36, 36);
  font-size: 30px;
  position: relative;
  top: -100px;
}

.charging-state {
  color: rgb(36, 36, 36);
  font-size: 30px;
  position: relative;
  top: -100px;
}

.charging-speed {
  color: rgb(36, 36, 36);
  font-size: 30px;
  position: relative;
  top: -100px;
}

.charging-remaining {
  color: rgb(36, 36, 36);
  font-size: 30px;
  position: relative;
  top: -100px;
}

.charging-timestamp {
  color: rgb(36, 36, 36);
  font-size: 10px;
  position: relative;
  top: -100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
